

.cell {
    border: 1px solid black;
    padding: 0%;
    width: auto;
    white-space: nowrap;
    width: 100px;
    height: 100px
    /* height: fit-content;
    width: fit-content; */
    
}

#board {
    margin: auto;
    border-collapse: collapse;
    margin-top: 20px;
    /* width: 1000px;
    height: 1000px; */
}

.unknown {
    background-color: aliceblue;
}

.blank {
    background-color: rgb(179, 175, 175);
}

.filled {
    background-color: greenyellow;
}

.wrong {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    color: red;
}

table {
    /* table-layout: fixed; */
}

#newGame {
    margin: auto;
    display:flex;
    margin-top: 20px;
}